<div class="container" *ngIf="this.AdminStatus === 'true'">
  <div class="row justify-content-center ">
    <div class="col-md-12 col-lg-10 m-auto pt-50">
      <mat-card class="bg-theme p-0 mb-4">
        <div class="row">
          <div class="col-md-6 pt-md-5 mb-3">
            <div class="logo text-center"><img src="assets/img/leadangel-white-logo.png" alt="Vyakar Login" width="250">
            </div>
            <div class="visit-link d-none d-md-block text-center pt-5">Visit <a href="https://www.leadangel.com"
                target="_blank">Leadangel.com</a></div>
          </div>
          <div class="col-md-6 pl-md-0">
            <div class="bg-white w-100 p-3 log login-card">
              <div class="mt-login-panel text-center"><i class="material-icons text-ex-larg la-theme-color">refresh</i>
              </div>
              <mat-card-title class="text-center">Change Password reset</mat-card-title>
              <form [formGroup]="resetForm" (submit)="onSavePassword()" autocomplete="off">
                <mat-card class="py-2 my-2 mx-3 px-2">
                  <div class="card-message ">
                    <mat-list role="list">
                      <mat-list-item role="listitem">
                        <mat-icon
                          [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasCapitalCase')  ? 'text-warning' : 'text-success'">
                          {{ resetForm.controls['password'].hasError('required') ||
                          resetForm.controls['password'].hasError('hasCapitalCase') ? 'info' :
                          'check_circle' }}</mat-icon>
                        Must contain at least 1 letter in capital case
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <mat-icon
                          [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasSmallCase')  ? 'text-warning' : 'text-success'">
                          {{ resetForm.controls['password'].hasError('required') ||
                          resetForm.controls['password'].hasError('hasSmallCase') ? 'info' :
                          'check_circle' }}</mat-icon>
                        Must contain at least 1 letter in small case
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <mat-icon
                          [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasNumber')  ? 'text-warning' : 'text-success'">
                          {{ resetForm.controls['password'].hasError('required') ||
                          resetForm.controls['password'].hasError('hasNumber') ? 'info' :
                          'check_circle' }}</mat-icon>
                        Must contain at least 1 number
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <mat-icon
                          [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('minlength')  ? 'text-warning' : 'text-success'">
                          {{ resetForm.controls['password'].hasError('required') ||
                          resetForm.controls['password'].hasError('minlength') ? 'info' :
                          'check_circle' }}</mat-icon>
                        Must be at least 8 characters
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <mat-icon
                          [ngClass]="resetForm.controls['confirmPassword'].hasError('NoPassswordMatch') ? 'text-warning' : 'text-success'">
                          {{ resetForm.controls['confirmPassword'].hasError('NoPassswordMatch') ? 'info' :
                          'check_circle' }}</mat-icon>
                          Password and Confirm Password Must Match
                      </mat-list-item>
                    </mat-list>
                  </div>
                </mat-card>
                <div class="form-group">
                  <label>New Password</label>
                  <input placeholder="New Password" id="password" [(ngModel)]="this.changepassmodel.PasswordM"
                    name="txtPassword" required formControlName="password" type="password" class="form-control">
                </div>
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input id="confirmPassword" [(ngModel)]="this.changepassmodel.ConfirmPasswordM"
                    name="txtConfirmPassword" required formControlName="confirmPassword" type="password"
                    class="form-control" placeholder="Confirm Password">
                </div>
               
                <mat-card-actions align="end">
                  <div class="form-group">
                    <button mat-raised-button  type="button" (click)="onCancel()">Cancel</button>
                    <button mat-raised-button color="primary" [disabled]="resetForm.invalid" type="submit"
                      mat-raised-button color="primary">Change Password</button>
                  </div>
                </mat-card-actions>

              </form>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<ng-container *ngIf="this.AdminStatus === 'false'">
  <div class="mt-5">
    <div class="container">
    <div class="text-center">
      <img src="assets/img/linkex.png" alt="Link Expired">
      <h3>The link is no longer valid.</h3>
      If you are not yet activated your account, please request your system administrator to regenerate a new link for you. 
      If you are already registered and need to change your password, please use the "forgot password" link on the login page.      
    </div>
  </div>
  </div>
</ng-container>
<!--   
  <app-custom-notification [Notification] = "Notification"></app-custom-notification> -->