::ng-deep   body {
    
    background: #e0e0e0;
    height: auto !important;

}
.pt-50{ padding-top: 60px;}
mat-card{ overflow: hidden;

.login-card {
   border-radius:0 4px 4px 0;}
.text-ex-larg{    font-size: 50px;
}
mat-card-title {
       font-size: 19px;
       color: #6d6d6d;
       padding-top: 5px;
       text-align: center;
}
.visit-link{    position: absolute;
right: 0;
left: 0;
margin: 0 auto;
color: #c9edfd;
font-weight: 300;
bottom: 30px;
font-size: 15px;
a{
color: #c9edfd;
font-weight: 300;
}}
}
 @media(min-width:1024px){
    .col-lg-10{    width: 850px;
        flex: none;
        max-width: none;}

 }
 @media (min-width: 768px){
.logo{ padding-top: 100px;}
}

@media(max-width:767px){
    ::ng-deep body {
    
        background-color: #00587f;
    
}
.login-card {
    border-radius:4px !important;}
.bg-theme{     box-shadow: none;}
}



.card-message{
    padding: 7px 14px;
    display: block;
    font-size: 14px;
}


.card-message mat-list{
    padding-top:0;
    mat-list-item{
        height: fit-content;
        mat-icon.text-warning{
            font-size: 20px;
             display: flex;
            align-items: center;
        }
        mat-icon.text-succes{
            font-size: 20px;
             display: flex;
            align-items: center;
        }
    }
}
// ::ng-deep.mat-dialog-container{
//     padding-bottom: 0px!important;
// }